matplotlib==3.10.1
numpy==2.2.4
pandas==2.2.3
scikit-learn==1.6.1
scipy==1.15.2
setuptools
cvxpy
streamlit
fpdf
streamlit-js-eval
streamlit-plotly-events
seaborn
plotly
millify
statsmodels
protobuf==3.20.*
filelock==3.13.1
uvicorn
fastapi
python-dotenv
pydantic
python-multipart
celery
redis
flower
requests
httpx