matplotlib==3.10.1
numpy==2.2.4
pandas==2.2.3
scikit-learn==1.6.1
scipy==1.15.2
setuptools
cvxpy==1.6.4
streamlit==1.44.1
fpdf==1.7.2
streamlit-js-eval==0.1.7
streamlit-plotly-events==0.0.6
seaborn==0.13.2
plotly==6.0.1
millify==0.1.1
statsmodels==0.14.4
protobuf==3.20.3
filelock==3.18.0
